<div class="row">
    <div class="col-md-8">
        <div class="bluebox2 TrueSelector">
            <h2 class="hh2">Job Category:</h2>
            <select size="4" name="ctl00$MainContent$CD$CD_Drop$sSectorLook" multiple="multiple" id="ctl00_MainContent_CD_CD_Drop_sSectorLook">
                <option selected="selected" value="-1">All</option>
                <option value="80">Admin/Clerical</option>
                <option value="231">Architects/Engineers/Surveyors</option>
                <option value="229">Arts/Events/Tourism/Culture</option>
                <option value="577">Audit and Risk</option>
                <option value="568">Building Control</option>
                <option value="228">Catering/Cleaning/Caretaking</option>
                <option value="569">Central Transport Services</option>
                <option value="570">Commissioning and Procurement</option>
                <option value="233">Communications/Marketing/Media</option>
                <option value="566">Communities</option>
                <option value="230">Construction/Building Maintenance</option>
                <option value="556">Corporate Management</option>
                <option value="235">Customer Services</option>
                <option value="538">Education - Professional/Support</option>
                <option value="241">Environmental Health</option>
                <option value="245">Environmental/Waste/Recycling</option>
                <option value="571">Estates/Land Strategy</option>
                <option value="227">Finance/Revenues/Benefits</option>
                <option value="572">Harbour Authority</option>
                <option value="246">Housing</option>
                <option value="232">HR/Training/Safety</option>
                <option value="234">ICT</option>
                <option value="369">Legal</option>
                <option value="249">Leisure/Play</option>
                <option value="247">Libraries</option>
                <option value="573">Licensing/Trading Standards</option>
                <option value="574">Network Management</option>
                <option value="546">Other</option>
                <option value="248">Parks/Sport</option>
                <option value="575">Partnership and Equalities</option>
                <option value="242">Planning/Major Projects</option>
                <option value="236">Policy/Research</option>
                <option value="576">Project Opportunities</option>
                <option value="224">Social Care-Adults</option>
                <option value="223">Social Care-Children's</option>
                <option value="579">Translation Services</option>
                <option value="580">Transport</option>
                <option value="240">Youth and Community/Neighbourhood Learning</option>
            </select>
        </div>
        <br></br>
        <div>
            <h2 class="hh2">Working hours:</h2>
            <select size="4" name="ctl00$MainContent$CD$CD_Drop$sWorkingPatternLook" multiple="multiple" id="ctl00_MainContent_CD_CD_Drop_sWorkingPatternLook">
                <option selected="selected" value="-1">All</option>
                <option value="481">Full Time</option>
                <option value="482">Part Time</option>
            </select>
        </div>
        <br></br>
        <div>
            <h2 class="hh2">Contract type:</h2>
            <select size="4" name="ctl00$MainContent$CD$CD_Drop$sEmploymentTermLook" multiple="multiple" id="ctl00_MainContent_CD_CD_Drop_sEmploymentTermLook">
                <option selected="selected" value="-1">All</option>
                <option value="484">Casual</option>
                <option value="20">Permanent</option>
                <option value="555">Permanent and Temporary</option>
                <option value="365">Temporary</option>
            </select>
        </div>
        <br></br>
        <button class="sbtn">Search</button>
        <input></input>
    </div>
</div>