<div id="wrapper">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h2><p>You Are HIRED!</p></h2> </div>
        </div>
    </div>
    <div id="page" class="container">
        <div class="column1">
            <div class="title">
                <h2>HUMAN RESOURCES (HR) MANAGER</h2> </div>
            <p>This is <strong>HUMAN RESOURCES MANAGER</strong>The Human Resources (HR) Manager is part of the management team and supports the General Coordinator of the mission from his/her base in the country capital. The main responsibilities are to take part in planning HR, ensure that HR policies and processes are implemented and to pursue compliance with best practices on the mission as a whole and its projects. </div>
        <div class="column2">
            <div class="title">
                <h2>Computer Management</h2> </div> <img class="img1" src="images/IMG_5778.jpg" width="282" height="150" alt="" />
            <p>Computer Management is a collection of Windows administrative tools that you can use to manage a local or remote computer. The tools are organized into a single console.</p>
        </div>
        <div class="column3">
            <div class="title">
                <h2>Phone Interview</h2> </div> <img class="img2" src="images/LinkedIn.jpg" width="282" height="150" alt="" />
            <p>A phone interview seems so informal on the surface that it can be easy to fall into the trap of "phoning it in not preparing for it as well as you would for an in person interview.</p>
        </div>
        <div class="column4">
            <div class="title">
                <h2>Work Experience</h2> </div> <img class="img3" src="images/scape.jpg" width="700" height="150" alt="" />
            <p>Relevant experience gained during a course placement, previous employment or vacation work greatly improves your chances.</p>
        </div>
    </div>
    <div id="portfolio-wrapper">
        <div id="portfolio" class="container">
            <div class="title">
                <h1>Qualifications</h1> <span class="byline">There are various entry routes into HR but competition is generally fierce for all routes. Applying to a HR graduate training scheme is one possibility. </span> </div>
            <div class="column1">
                <div class="box">
                    <h2>How To Be Good At A New Job</h2>
                    <p>Listen, learn, and then go solo Don’t expect a great deal of coddling at a new job.After all,everyone has other things to do.Listen to the instructions you’re given and master the rest of the job on your own.Your company will see.</p> <a href="http://jobseeker.com/news-info.php?id=8" class="button">Continue Reading...</a> </div>
            </div>
            <div class="column2">
                <div class="box">
                    <h2>Best Ways To Request A Raise</h2>
                    <p>Asking for a salary increase is a tough venture, especially in a difficult economy.If you feel that you’re not getting paid what you’re worth for doing your job,learn the best way to request a raise by following</p> <a href="http://jobseeker.com/news-info.php?id=9" class="button">Learn more</a> </div>
            </div>
            <div class="column3">
                <div class="box">
                    <h2>Take the career quiz</h2>
                    <p style="margin-top: 44px;">Find out about the types of work that might suit you, as well as useful information, such as how many people are employed in certain industries and what they earn.</p> <a href="http://joboutlook.gov.au/careerquiz.aspx" class="button button3">Take the Quiz.</a> </div>
            </div>
        </div>
    </div>
</div>
<!--
<div id="footer">
	<p>&copy; All rights reserved. Designed by Mohamad bahlawan
</div>-->